.bg-secondary {
    background-color: black !important;
}

.copyright {
    background-color: #1a252f;
}

.gb-third {
    background-color: white !important;
}

.bg-primary {
    background-color: gray !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.app-content {
    min-height: 20em;
}

.btn-list {
    float: left;
    min-width: 100px;
    margin: 20px;
}

.red-text {
    color: red;
}

